#articleDetails{
    padding:20px;
    .article-top{
        padding:10px 0;
        border-bottom: 1px solid #ccc;
        .article-title{
            font-size: 18px;
            font-weight: bold;
        }
    
        .update-time{
            float:right;
            font-size:14px;
        }
    }
    .article-content{
        padding:20px 0;
    }

    p,pre,img{
        line-height: 24px;
        margin:5px 0;
    }

    pre{
        overflow: hidden;
    }
    code{
        width:100%;
        display: inline-block;
        background-color: #f1f1f1;
        border-radius: 3px;
        padding: 3px 5px;
        margin: 0 3px;
    }
    .side-right{
        padding-left:10px;
        .panel{
            border:1px solid #f0f0f0;
            border-radius: 5px;
            margin-bottom: 20px;
            .panel-title{
                background:#f8f8f8;
                padding:10px;
                border-radius: 5px 5px 0 0;
            }
            .article-list{
                padding:0 10px;
            }
        }
    }
}