#articleDetails{
    padding:20px;
    .article-top{
        padding:10px 0;
        border-bottom: 1px solid #ccc;
        .article-title{
            font-size: 18px;
            font-weight: bold;
        }
    
        .update-time{
            float:right;
            font-size:14px;
        }
    }
    .article-content{
        padding:20px 0;
    }
}