@import './style/mixin.less';

body{
  .nav-text{
    a{
      color:#fff;
      opacity: 0.65;
    }
  }
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 28px 16px 0;
  float: left;
}

#navLeft{
  min-height: calc(100vh - 64px);
}

#content{
  padding:20px;
}

.ant-tabs-bar{
  margin:0 !important;
}